@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/700.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-poppins antialiased text-gray-900;
    }
}
